alabaster==0.7.12
asv==0.4.2
attrs==21.2.0
Babel==2.9.1
cached-property==1.5.2
certifi==2021.5.30
cftime==1.5.0
charset-normalizer==2.0.4
click==8.0.1
cloudpickle==1.6.0
cluster-utils==0.3.1
core-maths==0.0.10
dask==2021.7.2
dataframe-io==1.0.5
db-queries==24.3.0
db-tools==1.4.0
db-tools-core==1.5.0
docutils==0.16
draw-sources==0.0.14
drmaa==0.7.9
fsspec==2021.7.0
future==0.18.2
gbd==4.5.0
gbd-artifacts==2.3.0
gbd-mapping==3.0.2
get-draws==3.1.4
greenlet==1.1.0
h11==0.12.0
hierarchies==2.3.0
httpcore==0.12.3
httpx==0.17.1
idna==3.2
ihme-dimensions==0.3.0
ihme-rules==3.11.1
imagesize==1.2.0
iniconfig==1.1.1
Jinja2==3.0.1
joblib==1.0.1
locket==0.2.1
loguru==0.5.3
MarkupSafe==2.0.1
memory-profiler==0.58.0
netCDF4==1.5.7
networkx==2.6.2
numexpr==2.7.3
numpy==1.21.1
packaging==21.0
pandas==1.3.1
parse==1.19.0
partd==1.2.0
pluggy==0.13.1
psutil==5.8.0
py==1.10.0
pydantic==1.8.2
pyDOE==0.3.8
Pygments==2.9.0
PyMySQL==1.0.2
pyparsing==2.4.7
pytest==6.2.4
python-dateutil==2.8.2
pytz==2021.1
PyYAML==5.4.1
redis==3.5.3
requests==2.26.0
rfc3986==1.5.0
risk-distributions==2.0.3
rotisserie-client==2.1.0
rotisserie-schema==1.1.0
rq==1.9.0
scipy==1.7.1
six==1.16.0
sniffio==1.2.0
snowballstemmer==2.1.0
Sphinx==4.1.2
sphinx-rtd-theme==0.5.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==1.4.22
tables==3.6.1
tenacity==7.0.0
test-support==0.1.3
toml==0.10.2
toolz==0.11.1
typing-extensions==3.10.0.0
urllib3==1.26.6
vivarium==0.10.3
vivarium-cluster-tools==1.2.5
-e git+ssh://git@github.com/ihmeuw/vivarium_gates_lsff.git@a3d6aa61d2286a3c2bf311d77365bcec3dd6c45d#egg=vivarium_gates_lsff
vivarium-gbd-access==3.0.2
vivarium-inputs==4.0.2
vivarium-public-health==0.10.11
xarray==0.19.0
